html {
    text-align: center;
    background: rgb(255,242,173);
    background: linear-gradient(90deg, rgba(255,242,173,1) 29%, rgba(252,209,78,1) 100%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
    border : solid black 1px;
    flex: 1 1 auto;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.modifiers {
    margin-top: 18px;
}

input[type=number] {
    width: 50px;
    padding: 4px 4px;
    margin: 6px;
    box-sizing: border-box;
    font-size: 18px;        
}

.container {
    height: 608px;
    width: 608px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 8px 0 0 rgb(0,0,0);

}

h1 {
    font-size: 44px;
    border: 2px solid black;
    margin: 26px auto;
    width: 500px;
}

.mode {
    font-size: 20px;
    padding: 8px 16px;
    margin: 8px 4px;
}

form, #grid {
    font-size: 24px;
}

.submit {
    font-size: 16px;
    padding: 8px 16px;
    margin: 8px 4px;
}

span {
    font-size: 22px;
    margin-left: 12px;
    margin-right: 6px;
    font-weight: 800;
}

button {
    border: none;
    background-color: coral;
}

button, h1, input {
    box-shadow: 6px 6px 0 0 rgb(0,0,0);
}

input, .toggle__fill {
    box-shadow: 4px 4px 0 0 rgb(0,0,0);
}

button:active {
    transform: translateY(4px);
    box-shadow: 2px 2px 0 0 rgb(0,0,0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toggle {
    --width: 60px;
    --height: calc(var(--width)/2);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: black;
    transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill{
    background-color: rgb(37, 157, 255);
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 26px;
    width: 26px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

.toprow {
    display: flex;
    justify-content: center;

}